<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Grand Challenges</title>
<link rel="stylesheet" type="text/css" href="css/styles.css">
<script type="text/javascript" src="js/zepto.min.js"></script>
<script type="text/javascript">

var faculty = {% if data.team.faculty %}
  {{ data.team.faculty|json_encode()|raw }}
{% else %}
  {}
{% endif %};
var community = {% if data.team.community %}
  {{ data.team.community|json_encode()|raw }}
{% else %}
  []
{% endif %};

function showList() {
  $('#members-list').html((function(){
    var str = '';
    Object.keys(faculty).forEach(function(fac){
      str += '<p class="member-entry"><a class="member-x" onClick="return false;" style="opacity: 0;"><img src="img/x.png"></a><span>'+fac+'</span></p>';
    });
    community.forEach(function(com, i){
      str += '<p class="member-entry"><a class="member-x" onClick="return false;" style="opacity: 0;"><img src="img/x.png"></a><span>' + com.last_name + ', ' + com.first_name + '</span></p>';
    });
    return str;
  })());
}

function saveAndGo(destination) {
  if (destination) {
    $('#hidden-redirect').val(destination);
  }
  $('.bio-form').submit();
}

function countWords(str) {
  return str.split(/\s+/).filter(function(x){ return x !== ''; }).length;
}

$(function(){

  showList();

  $('#text-bio').on('input', function(e){
    var maxLength = 200;
    var len = countWords(e.target.value);
    if (len > maxLength) {
      len = maxLength;
    }
    $('#chars-bio').text(maxLength - len);
  });

  $('#text-title').on('input', function(e){
    var maxLength = 140;
    var len = e.target.value.length;
    if (len > maxLength) {
      $(e.target).val(e.target.value.substr(0, maxLength));
      len = maxLength;
    }
    $('#chars-title').text(maxLength - len);
  });

  $('#text-description').on('input', function(e){
    var maxLength = 500;
    var len = e.target.value.length;
    if (len > maxLength) {
      $(e.target).val(e.target.value.substr(0, maxLength));
      len = maxLength;
    }
    $('#chars-description').text(maxLength - len);
  });

  $('#chars-bio').text(200 - countWords($('#text-bio').val()));
  $('#chars-title').text(140 - $('#text-title').val().length);
  $('#chars-description').text(500 - $('#text-description').val().length);

});

</script>
</head>
<body>

{{ include('nav.twig') }}

<div class="concept-hero">
  <div class="concept-hero-title">
    <h1>Hello {{ netid }}</h1>
    <h2>Welcome to the Grand Challenges</h2>
  </div>
</div>

<div class="concept-tab-bar">
  <a href="." onclick="saveAndGo(); return false;" class="concept-tab-bar-item concept-tab-bar-item-active">
    Dashboard
  </a>
</div>

<div class="concept-columns">
  <div class="concept-column concept-column-left">
    <div class="concept-map-chunk">
      <img src="img/map-pipe.png">
    </div>
    <div class="concept-map-chunk concept-map-current">
      <img src="img/map-checked.png">
      <a href="meeting" onclick="saveAndGo('meeting'); return false;"><span>Meet with Network</span></a>
    </div>
    <div class="concept-map-chunk concept-map-current">
      <img src="img/map-orange.png">
      <a href="bio" onclick="saveAndGo('bio'); return false;"><span>Project Info</span></a>
    </div>
    <div class="concept-map-chunk">
      <img src="img/map-gray.png">
      <a href="team" onclick="saveAndGo('team'); return false;"><span>Your Team</span></a>
    </div>
    <div class="concept-map-chunk">
      <img src="img/map-gray.png">
      <a href="support" onclick="saveAndGo('support'); return false;"><span>Optional Support</span></a>
    </div>
    <div class="concept-map-chunk">
      <img src="img/map-gray-end.png">
      <a href="line" onclick="saveAndGo('line'); return false;"><span>Choose Your Path</span></a>
    </div>
  </div>
  <div style="width: 100%;">
    <div class="concept-columns-nav">
      <a href="meeting" onclick="saveAndGo('meeting'); return false;">
        <div class="concept-columns-nav-side concept-columns-nav-side-left">
          <img src="img/arrow-gold-left.png">
          <span>Meet With Network</span>
        </div>
      </a>
      <a href="team" onclick="saveAndGo('team'); return false;">
        <div class="concept-columns-nav-side concept-columns-nav-side-right">
          <span>Your Team</span>
          <img src="img/arrow-gold-right.png">
        </div>
      </a>
    </div>
    <div class="concept-columns">
      <form class="concept-column concept-column-middle bio-form" method="post" action="save-bio">
        <h2>
          <img src="img/connect-dot.png">
          Project Info
        </h2>
        <p>
          Let's get your team all set up. We'll start with you! Write a short description about yourself:
        </p>
        <p>
          <span>Principal investigator: a short bio about yourself (<span id="chars-bio">200</span> words left)</span><br>
          <textarea id="text-bio" name="bio">{{ data.bio }}</textarea>
        </p>
        <p>
          Next, give your Grand Challenge a title:
        </p>
        <p>
          <span>Project title (<span id="chars-title">140</span> characters left)</span><br>
          <textarea id="text-title" name="project_title">{{ data.project_title }}</textarea>
        </p>
        <p>
          Finally, write a short description of your project:
        </p>
        <p>
          <span>A sentence or two about your project (<span id="chars-description">500</span> characters left)</span><br>
          <textarea id="text-description" name="project_description">{{ data.project_description }}</textarea>
        </p>
        <input type="text" style="display: none;" name="redirect" value="" id="hidden-redirect">
        <button type="submit">Save and Continue</button>
      </form>
      <div class="concept-column concept-column-right">
        <h3>Your team:</h3>
        <div class="big-form-middle-side">
          <p class="member-entry">
            <a class="member-x" onclick="return false;" style="opacity: 0;">
              <img src="img/x.png">
            </a>
            <span>{{ netid }} (You)</span>
          </p>
          <div id="members-list">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ include('footer.twig') }}

</body>
</html>
