<!DOCTYPE html>
<html>
<head>
  <title>Grand Challenges</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

<div class="top-nav">
  <div class="top-nav-half">
    <div class="top-nav-title">
      <img src="img/nav-logo.png">
      Grand Challenges
    </div>
    <div class="top-nav-link">
      Home
    </div>
    <div class="top-nav-link">
      Dashboard
    </div>
  </div>
  <div class="top-nav-half">
    <div class="top-nav-link">
      <a href="logout">Logout</a>
    </div>
  </div>
</div>

<div class="content">

  <h1 class="content-title">Hey {{ data.info.first_name|default('there') }}, let's get your team set up.</h1>

  <img class="content-divider" src="img/divider.png">

  <form class="big-form" method="post" action="save-info">
    <div class="big-form-header">
      Tell us about yourself
    </div>
    <div class="big-form-middle">
      <p>
        <input type="text" placeholder="First Name" name="first_name" value="{{ data.info.first_name }}">
      </p>
      <p>
        <input type="text" placeholder="Last Name" name="last_name" value="{{ data.info.last_name }}">
      </p>
      <p>
        <input type="text" placeholder="Email" value="{{ data.info.email|default(netid) }}" name="email">
      </p>
      <p>
        <textarea placeholder="Bio" name="bio">{{ data.info.bio }}</textarea>
      </p>
    </div>
    <div class="big-form-footer">
      <div class="big-form-footer-side">
      </div>
      <div class="big-form-footer-dots">
        <span class="big-form-footer-dot big-form-footer-dot-full"></span>
        <span class="big-form-footer-dot"></span>
        <span class="big-form-footer-dot"></span>
      </div>
      <div class="big-form-footer-side">
        <button class="next-button" type="submit">Next</button>
      </div>
    </div>
  </form>

</div>

</body>
</html>

