<!DOCTYPE html>
<html>
<head>
  <title>Grand Challenges</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

{{ include('nav.twig') }}

<div class="content">

  <h1 class="content-title">Hey {{ data.info.first_name|default('there') }}, let's get your team set up.</h1>

  <img class="content-divider" src="img/divider.png">

  <form class="big-form" method="post" action="save-info">
    <div class="big-form-header">
      Tell us about yourself
    </div>
    <div class="big-form-middle">
      <div class="big-form-split">
        <p>
          <label>
            First Name<br>
            <input type="text" name="first_name" value="{{ data.info.first_name }}">
          </label>
        </p>
        <p>
          <label>
            Last Name<br>
            <input type="text" name="last_name" value="{{ data.info.last_name }}">
          </label>
        </p>
      </div>
      <p>
        <label>
          Email<br>
          <input type="text" value="{{ data.info.email|default(netid) }}" name="email">
        </label>
      </p>
      <p>
        <label>
          Bio<br>
          <textarea name="bio">{{ data.info.bio }}</textarea>
        </label>
      </p>
    </div>
    <div class="big-form-footer">
      <div class="big-form-footer-side">
      </div>
      <div class="big-form-footer-dots">
        <span class="big-form-footer-dot big-form-footer-dot-full"></span>
        <span class="big-form-footer-dot"></span>
        <span class="big-form-footer-dot"></span>
      </div>
      <div class="big-form-footer-side">
        <button class="next-button" type="submit">Next</button>
      </div>
    </div>
  </form>

</div>

</body>
</html>

