<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Grand Challenges</title>
<link rel="stylesheet" type="text/css" href="css/styles.css">
<script type="text/javascript" src="js/zepto.min.js"></script>
<script type="text/javascript">

$(function(){
  var counter = 0;
  $('#drop-area-proposal').bind({
    dragover: function(e){
      e.preventDefault();
      e.stopPropagation();
    },
    dragenter: function(e){
      e.preventDefault();
      e.stopPropagation();
      $('#drop-area-proposal').addClass('drop-highlight');
      counter++;
    },
    dragleave: function(e){
      e.preventDefault();
      e.stopPropagation();
      counter--;
      if (counter === 0) {
        $('#drop-area-proposal').removeClass('drop-highlight');
      }
    },
    drop: function(e){
      e.preventDefault();
      e.stopPropagation();
      counter = 0;
      $('#drop-area-proposal').removeClass('drop-highlight');
      var transfer = e.originalEvent ? e.originalEvent.dataTransfer : e.dataTransfer;
      // originalEvent for jquery (not zepto)
      if (transfer) {
        if (transfer.files.length) {
          $('#hidden-proposal').prop('files', transfer.files);
        }
      }
    },
  });
  $('#drop-area-budget').bind({
    dragover: function(e){
      e.preventDefault();
      e.stopPropagation();
    },
    dragenter: function(e){
      e.preventDefault();
      e.stopPropagation();
      $('#drop-area-budget').addClass('drop-highlight');
      counter++;
    },
    dragleave: function(e){
      e.preventDefault();
      e.stopPropagation();
      counter--;
      if (counter === 0) {
        $('#drop-area-budget').removeClass('drop-highlight');
      }
    },
    drop: function(e){
      e.preventDefault();
      e.stopPropagation();
      counter = 0;
      $('#drop-area-budget').removeClass('drop-highlight');
      var transfer = e.originalEvent ? e.originalEvent.dataTransfer : e.dataTransfer;
      // originalEvent for jquery (not zepto)
      if (transfer) {
        if (transfer.files.length) {
          $('#hidden-budget').prop('files', transfer.files);
        }
      }
    },
  });

  $('#hidden-proposal').on('change', function(){
    if (this.files.length) {
      $('#message-proposal').text('Proposal ready to upload!');
    } else {
      $('#message-proposal').text('Drag and drop to upload your proposal.');
    }
  });
  $('#hidden-budget').on('change', function(){
    if (this.files.length) {
      $('#message-budget').text('Budget ready to upload!');
    } else {
      $('#message-budget').text('Drag and drop to upload your budget.');
    }
  });
});

function submitDocs() {
  $('#hidden-form').submit();
}

function browseProposal() {
  $('#hidden-proposal').click();
}

function browseBudget() {
  $('#hidden-budget').click();
}

</script>
</head>
<body>

{{ include('nav.twig') }}

<div class="concept-hero">
  <div class="concept-hero-title">
    <h1>Hello {{ netid }}</h1>
    <h2>Welcome to the Grand Challenges</h2>
  </div>
</div>

<div class="concept-tab-bar">
  <a href="." class="concept-tab-bar-item concept-tab-bar-item-active">
    Dashboard
  </a>
</div>

<div class="concept-columns">
  <div class="concept-column concept-column-left">
    <div class="concept-map-chunk">
      <img src="img/map-pipe.png">
    </div>
    <div class="concept-map-chunk concept-map-current">
      <img src="img/map-checked.png">
      <a href="meeting"><span>Meet with Network</span></a>
    </div>
    <div class="concept-map-chunk concept-map-current">
      <img src="img/map-checked.png">
      <a href="bio"><span>Project Info</span></a>
    </div>
    <div class="concept-map-chunk concept-map-current">
      <img src="img/map-checked.png">
      <a href="team"><span>Your Team</span></a>
    </div>
    <div class="concept-map-chunk concept-map-current">
      <img src="img/map-checked.png">
      <a href="support"><span>Optional Support</span></a>
    </div>
    <div class="concept-map-chunk concept-map-line-start concept-map-line-start-{{ data.line }}">
      <img src="img/map-{{ color }}-1.png">
      <a href="line"><span>{{ data.line|capitalize }} Line</span></a>
    </div>
    <div class="concept-map-chunk concept-map-line-current">
      <img src="img/map-{{ color }}-2.png">
      <a href="paper"><span>Submit Proposal</span></a>
    </div>
    <div class="concept-map-chunk concept-map-line-current">
      <img src="img/map-{{ color }}-3.png">
      <a href="gala">
        <span>
          {% if data.line == 'engage' %}
            Attend Poster Fair
          {% else %}
            Attend Gala
          {% endif %}
        </span>
      </a>
    </div>
  </div>
  <div style="width: 100%">
    <div class="concept-columns-nav">
      <a href="line">
        <div class="concept-columns-nav-side concept-columns-nav-side-left">
          <img src="img/arrow-gold-left.png">
          <span>Choose Your Path</span>
        </div>
      </a>
      <a href="gala">
        <div class="concept-columns-nav-side concept-columns-nav-side-right">
          <span>
            {% if data.line == 'engage' %}
              Attend Poster Fair
            {% else %}
              Attend Gala
            {% endif %}
          </span>
          <img src="img/arrow-gold-right.png">
        </div>
      </a>
    </div>
    <div class="concept-columns">
      <div class="concept-column concept-column-middle">
        <h2>
          <img src="img/connect-dot.png">
          Submit Proposal
        </h2>
        <h4>
          {{ paper_status }}
        </h4>
        <h4>
          {{ budget_status }}
        </h4>
        {% if data.line == 'engage' %}
          <p>
            The Engage grant is a collboratively-written paper that describes the core features of the idea. Your proposal should address three key concepts: Inquiry, Innovation, and Impact. Download and complete the <a href="https://docs.google.com/document/d/1yu_Xb-rYp0183OYeIFIdmV4bLaoH7IImwNJIsysJkZ4/edit">Engage Grant Submission Template</a> and <a href="https://docs.google.com/spreadsheets/d/1pHt4-Dm5FMe7E35AQibK2RCAdhedvrwqbwONmplKMTc/edit">Budget Template</a> to guide your submission.
          </p>
          <p>
            The Engage proposal due date is <b>August 1<sup>st</sup>, 2017</b>.
          </p>
          <p>
            The combined total number of pages of your proposal and budget document should not exceed 8 pages.
          </p>
        {% else %}
          <p>
            The Transform grant is a collboratively-written paper that describes the core features of the idea.
            Your proposal should address three key concepts:
            Inquiry, Innovation, and Impact.
            We go into greater detail of what we're expecting in the <a href="https://docs.google.com/document/d/1U-sR1mV5xSI9YVihJVxC690s8dBXtMhm_VZqM8-vE1c/edit">RFP</a>.
          </p>
          <p>
            The Transform proposal due date is <b>December 15<sup>th</sup>, 2017</b>.
          </p>
        {% endif %}
        {% if paper_url %}
          <p>
            <a href="{{ paper_url }}">Download your previously submitted proposal</a>
          </p>
        {% endif %}
        {% if budget_url %}
          <p>
            <a href="{{ budget_url }}">Download your previously submitted budget</a>
          </p>
        {% endif %}
        <h3>
          When you're ready to submit, drop it here:
        </h3>
        <div class="drop-area" id="drop-area-proposal">
          <p>
            <img src="img/pdf-file.png">
          </p>
          <p id="message-proposal">
            Drag and drop to upload your proposal.
          </p>
          <a href="#" onClick="event.preventDefault(); browseProposal();">Or browse files</a>
        </div>
        <h3>
          Also submit your budget spreadsheet:
        </h3>
        <div class="drop-area" id="drop-area-budget">
          <p>
            <img src="img/pdf-file.png">
          </p>
          <p id="message-budget">
            Drag and drop to upload your budget.
          </p>
          <a href="#" onClick="event.preventDefault(); browseBudget();">Or browse files</a>
        </div>
        <p>
          <button class="submit-proposal" type="button" onclick="submitDocs();">Submit</button>
        </p>
      </div>
      <div class="concept-column concept-column-right">
        {% if data.line == 'engage' %}
          <h3>What about the poster fair?</h3>
          <img class="divider" src="img/divider.png">
          <p>
            We look forward to working with you to create a 16x20 visual representation of your project to be displayed at the poster fair. We will contact you upon receipt of your proposal to facilitate this collaboration.
          </p>
        {% else %}
          <h3>What are we looking for?</h3>
          <img class="divider" src="img/divider.png">
          <h4><a href="https://docs.google.com/document/d/1U-sR1mV5xSI9YVihJVxC690s8dBXtMhm_VZqM8-vE1c/edit" target="_blank">Download the RFP (request for proposal)</a></h4>
          <h4><a href="https://docs.google.com/spreadsheets/d/1pHt4-Dm5FMe7E35AQibK2RCAdhedvrwqbwONmplKMTc/edit" target="_blank">Budget spreadsheet</a></h4>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<form id="hidden-form" enctype="multipart/form-data" method="post" action="save-paper">
  <p>
    <input type="file" id="hidden-proposal" name="connect_project">
  </p>
  <p>
    <input type="file" id="hidden-budget" name="budget">
  </p>
  <p>
    <button type="submit" id="hidden-submit">Submit</button>
  </p>
</form>

{{ include('footer.twig') }}

</body>
</html>
