<!DOCTYPE html>
<html>
<head>
  <title>Grand Challenges</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

{{ include('nav.twig') }}

<div class="content">

  <h1 class="content-title">Hey {{ data.info.first_name|default('there') }}, let's get your team set up.</h1>

  <img class="content-divider" src="img/divider.png">

  <form class="big-form" method="post" action="save-project">
    <div class="big-form-header">
      What challenge is your team going to tackle?
    </div>
    <div class="big-form-middle big-form-middle-annotated">
      <p class="big-form-explain">
        Don't worry, you can change this later!
      </p>
      <p class="big-form-field">
        <label>
          Project Title<br>
          <input type="text" name="title" value="{{ data.project.title }}">
        </label>
        <span class="big-form-field-annotation">
          <em>Hint:</em>
          Keep this under 140 characters.
        </span>
      </p>
      <p class="big-form-field">
        <label>
          Brief Description<br>
          <textarea name="description">{{ data.project.description }}</textarea>
        </label>
        <span class="big-form-field-annotation">
          <em>Example:</em>
          Create new approaches to prepare young children born into poverty for success in school and life.
        </span>
      </p>
      <p class="big-form-field">
        <label>
          How can the Network assist you best?<br>
          <textarea name="network_help">{{ data.project.network_help }}</textarea>
        </label>
        <span class="big-form-field-annotation">
          <em>Hint:</em>
          We're here to help. Seriously.
        </span>
      </p>
    </div>
    <div class="big-form-footer">
      <div class="big-form-footer-side">
      </div>
      <div class="big-form-footer-dots">
        <span class="big-form-footer-dot"></span>
        <span class="big-form-footer-dot"></span>
        <span class="big-form-footer-dot big-form-footer-dot-full"></span>
      </div>
      <div class="big-form-footer-side">
        <button class="next-button next-button-last" type="submit">Next</button>
      </div>
    </div>
  </form>

</div>

</body>
</html>
